{% extends 'base.html' %}

{% block title %}Чат{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Чат</h1>
    {% if user.is_superuser %}
        <div>
            <h2>Пользователи</h2>
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item"><a href="{% url 'chat' user.id %}">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div>
        <h2>Сообщения</h2>
        <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item">{{ message.sender.username }}: {{ message.content }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Отправить сообщение</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.content.label_tag }} {{ form.content }}
            </div>
            {% if user.is_superuser %}
                <button type="submit" name="send_to_all" value="True" class="btn btn-primary">Отправить всем</button>
                <button type="submit" name="send_to_all" value="False" class="btn btn-secondary">Отправить {{ current_user_id }}</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Отправить</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
<p class="text-muted">Приложение интервального повторения "Anki", в рамках учебного проекта Академии TOP © 2024</p>
{% endblock %}
