{% extends 'base.html' %}
{% comment %} Этот шаблон расширяет базовый шаблон base.html {% endcomment %}
{% comment %} cards/templates/cards/catalog.html {% endcomment %}

{% block title %}
  Каталог карточек Anki
{% endblock %}

{% block content %}
  <h1>Каталог карточек Anki для интервального повторения</h1>
  <p>Всего карточек: {{ cards_count }}</p>
  <p>Всего пользователей: {{ users_count }}</p>
    <ul>
        {% for card in cards %}
            <li>
                {% include "include/card_preview.html" %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}