{% extends "base.html" %}
{% comment %}
    Этот шаблон расширяет базовый шаблон base.html
{% endcomment %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <!--Данные вставлены с помощью тэга block content-->
    <h1>Главная страница</h1>
    <p>Добро пожаловать на сайт!</p>
    <p>На нашем сайте, карточек {{ cards_count }}, пользователей {{ users_count }}</p>
{% endblock %}

{% block footer %}
    <!--Данные вставлены с помощью тэга block footer-->
    <p>Это footer</p>
{% endblock %}